version: 2
updates:
- package-ecosystem: "pip"
  directory: "/" # Location of package manifests
  target-branch: "develop"
  schedule:
    interval: "monthly"
  ignore:
    - dependency-name: "*"
      update-types: ["version-update:semver-minor", "version-update:semver-patch"]
